## **Librerias**

In [2]:
import pandas as pd
import numpy as np

In [3]:
pd.options.display.max_columns = False

In [4]:
from datetime import datetime, timedelta

## **I. Creating, reading and writing**

### 1.

In the cell below, create a DataFrame `fruits` that looks like this:

![](https://i.imgur.com/Ax3pp2A.png)

In [9]:
fruits = pd.DataFrame({'Apples':[30], 'Bananas':[21]})
fruits

   Apples  Bananas
0      30       21

### 2.

Create a dataframe `fruit_sales` that matches the diagram below:

![](https://i.imgur.com/CHPn7ZF.png)

In [8]:
fruit_sales = pd.DataFrame({'Apples':[35, 41], 'Bananas':[21, 34]}, index=['2017 Sales', '2018 Sales'])
fruit_sales

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

### 3.

Create a variable `ingredients` with a Series that looks like:

```
Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object
```

In [13]:
ingredients = pd.Series(['4 cups', '1 cup', '2 large', '1 can'], index=['Flour', 'Milk', 'Eggs', 'Spam'], name='Dinner')
ingredients

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

### 4.

Read a csv dataset into a DataFrame called `movies`:

In [17]:
movies = pd.read_csv('Datasets/netflix_titles.csv')
movies

     show_id  ...                                        description
0         s1  ...  In a future where the elite inhabit an island ...
1         s2  ...  After a devastating earthquake hits Mexico Cit...
2         s3  ...  When an army recruit is found dead, his fellow...
3         s4  ...  In a postapocalyptic world, rag-doll robots hi...
4         s5  ...  A brilliant group of students become card-coun...
...      ...  ...                                                ...
7782   s7783  ...  When Lebanon's Civil War deprives Zozo of his ...
7783   s7784  ...  A scrappy but poor boy worms his way into a ty...
7784   s7785  ...  In this documentary, South African rapper Nast...
7785   s7786  ...  Dessert wizard Adriano Zumbo looks for the nex...
7786   s7787  ...  This documentary delves into the mystique behi...

[7787 rows x 12 columns]

### 5.

Run the cell below to create and display a DataFrame called `animals`:

In [19]:
animals = pd.DataFrame({'Cows': [12, 20], 'Goats': [22, 19]}, index=['Year 1', 'Year 2'])
animals

        Cows  Goats
Year 1    12     22
Year 2    20     19

In the cell below, write code to save this DataFrame to disk as a csv file with the name `cows_and_goats.csv`.

In [20]:
animals.to_csv('datasets/cows_and_goats.csv')

## II. Indexing, Selecting and assigning

In [24]:
reviews = pd.read_csv('datasets/wine_reviews.csv', index_col=0)

In [26]:
reviews.head()

    country  ...               winery
0     Italy  ...              Nicosia
1  Portugal  ...  Quinta dos Avidagos
2        US  ...            Rainstorm
3        US  ...           St. Julian
4        US  ...         Sweet Cheeks

[5 rows x 13 columns]

### 1.

Select the `description` column from `reviews` and assign the result to the variable `desc`.

In [31]:
desc = reviews.loc[:, 'description']
desc

0         Aromas include tropical fruit, broom, brimston...
1         This is ripe and fruity, a wine that is smooth...
2         Tart and snappy, the flavors of lime flesh and...
3         Pineapple rind, lemon pith and orange blossom ...
4         Much like the regular bottling from 2012, this...
                                ...
129966    Notes of honeysuckle and cantaloupe sweeten th...
129967    Citation is given as much as a decade of bottl...
129968    Well-drained gravel soil gives this wine its c...
129969    A dry style of Pinot Gris, this is crisp with ...
129970    Big, rich and off-dry, this is powered by inte...
Name: description, Length: 129971, dtype: object

## 2.

Select the first value from the description column of `reviews`, assigning it to variable `first_description`.

In [33]:
first_description = reviews.loc[0, 'description']
first_description

"Aromas include tropical fruit, broom, brimstone and dried herb. The palate isn't overly expressive, offering unripened apple, citrus and dried sage alongside brisk acidity."

### 3. 

Select the first row of data (the first record) from `reviews`, assigning it to the variable `first_row`.

In [34]:
first_row = reviews.iloc[0]
first_row

country                                                              Italy
description              Aromas include tropical fruit, broom, brimston...
designation                                                   Vulkà Bianco
points                                                                  87
price                                                                  NaN
province                                                 Sicily & Sardinia
region_1                                                              Etna
region_2                                                               NaN
taster_name                                                  Kerin O’Keefe
taster_twitter_handle                                         @kerinokeefe
title                                    Nicosia 2013 Vulkà Bianco  (Etna)
variety                                                        White Blend
winery                                                             Nicosia
Name: 0, dtype: object

### 4.

Select the first 10 values from the `description` column in `reviews`, assigning the result to variable `first_descriptions`.

Hint: format your output as a pandas Series.

In [46]:
first_descriptions = reviews['description'].iloc[:10]
first_descriptions

0    Aromas include tropical fruit, broom, brimston...
1    This is ripe and fruity, a wine that is smooth...
2    Tart and snappy, the flavors of lime flesh and...
3    Pineapple rind, lemon pith and orange blossom ...
4    Much like the regular bottling from 2012, this...
5    Blackberry and raspberry aromas show a typical...
6    Here's a bright, informal red that opens with ...
7    This dry and restrained wine offers spice in p...
8    Savory dried thyme notes accent sunnier flavor...
9    This has great depth of flavor with its fresh ...
Name: description, dtype: object

### 5.

Select the records with index labels `1`, `2`, `3`, `5`, and `8`, assigning the result to the variable `sample_reviews`.

In other words, generate the following DataFrame:

![](https://i.imgur.com/sHZvI1O.png)

In [52]:
sample_reviews = reviews.iloc[[1, 2, 3, 5, 8],:]
sample_reviews

    country  ...               winery
1  Portugal  ...  Quinta dos Avidagos
2        US  ...            Rainstorm
3        US  ...           St. Julian
5     Spain  ...               Tandem
8   Germany  ...          Heinz Eifel

[5 rows x 13 columns]

### 6.

Create a variable `df` containing the `country`, `province`, `region_1`, and `region_2` columns of the records with the index labels `0`, `1`, `10`, and `100`. In other words, generate the following DataFrame:

![](https://i.imgur.com/FUCGiKP.png)

In [61]:
df = reviews.loc[[0, 1, 10, 100], ['country', 'province', 'region_1', 'region_2']]
df

      country           province      region_1      region_2
0       Italy  Sicily & Sardinia          Etna           NaN
1    Portugal              Douro           NaN           NaN
10         US         California   Napa Valley          Napa
100        US           New York  Finger Lakes  Finger Lakes

### 7.

Create a variable `df` containing the `country` and `variety` columns of the first 100 records. 

Hint: you may use `loc` or `iloc`. When working on the answer this question and the several of the ones that follow, keep the following "gotcha" described in the tutorial:

> `iloc` uses the Python stdlib indexing scheme, where the first element of the range is included and the last one excluded. 
`loc`, meanwhile, indexes inclusively. 

> This is particularly confusing when the DataFrame index is a simple numerical list, e.g. `0,...,1000`. In this case `df.iloc[0:1000]` will return 1000 entries, while `df.loc[0:1000]` return 1001 of them! To get 1000 elements using `loc`, you will need to go one lower and ask for `df.iloc[0:999]`.

In [67]:
df = reviews.loc[:99, ['country', 'variety']]
df

     country                   variety
0      Italy               White Blend
1   Portugal            Portuguese Red
2         US                Pinot Gris
3         US                  Riesling
4         US                Pinot Noir
..       ...                       ...
95    France                     Gamay
96    France                     Gamay
97        US                  Riesling
98     Italy                Sangiovese
99        US  Bordeaux-style Red Blend

[100 rows x 2 columns]

### 8.

Create a DataFrame `italian_wines` containing reviews of wines made in `Italy`. Hint: `reviews.country` equals what?

In [68]:
italian_wines = reviews.loc[reviews['country'] == 'Italy']
italian_wines

       country  ...                           winery
0        Italy  ...                          Nicosia
6        Italy  ...                  Terre di Giurfo
13       Italy  ...              Masseria Setteporte
22       Italy  ...               Baglio di Pianetto
24       Italy  ...                        Canicattì
...        ...  ...                              ...
129929   Italy  ...             Col Vetoraz Spumanti
129943   Italy  ...  Baglio del Cristo di Campobello
129947   Italy  ...         Feudo Principi di Butera
129961   Italy  ...                              COS
129962   Italy  ...                         Cusumano

[19540 rows x 13 columns]

### 9.

Create a DataFrame `top_oceania_wines` containing all reviews with at least 95 points (out of 100) for wines from Australia or New Zealand.

In [73]:
top_oceania_wines = reviews.loc[((reviews['country']=='Australia') | (reviews['country']=='New Zealand')) & (reviews['points']>=95)]
top_oceania_wines

            country  ...                       winery
345       Australia  ...  Chambers Rosewood Vineyards
346       Australia  ...  Chambers Rosewood Vineyards
348       Australia  ...  Chambers Rosewood Vineyards
349       Australia  ...                     Torbreck
356       Australia  ...                  Jasper Hill
360       Australia  ...                     Torbreck
365       Australia  ...                    Wakefield
14354     Australia  ...                      Kaesler
16538     Australia  ...                      Lambert
28573     Australia  ...              Clarendon Hills
34502     Australia  ...                     Standish
34506     Australia  ...                     Standish
38988     Australia  ...                     Penfolds
39059     Australia  ...                    Wakefield
39961     Australia  ...                     Penfolds
39962     Australia  ...                     Penfolds
45809     Australia  ...              Clarendon Hills
56953     Australia  ...                     Penfolds
56956     Australia  ...                     Standish
56957     Australia  ...                 Thorn Clarke
56959     Australia  ...                     Henschke
59977     Australia  ...                 Hickinbotham
59984     Australia  ...                    Heartland
67096     Australia  ...            R.L. Buller & Son
67101     Australia  ...  Chambers Rosewood Vineyards
76392     Australia  ...                  Jasper Hill
77028     Australia  ...                     Penfolds
77036     Australia  ...                     Penfolds
77037     Australia  ...                     Torbreck
77042     Australia  ...             John Duval Wines
77044     Australia  ...                   Kilikanoon
77046     Australia  ...                     Torbreck
83357     Australia  ...                     Penfolds
84815     Australia  ...                     Torbreck
84816     Australia  ...                     Nashwauk
87128     Australia  ...                 Kay Brothers
87137     Australia  ...                    Moss Wood
87143     Australia  ...                    Wakefield
91851   New Zealand  ...                 Trinity Hill
98386     Australia  ...                   D'Arenberg
99318     Australia  ...                     Henschke
99330     Australia  ...                     Penfolds
99340     Australia  ...                     Torbreck
109427    Australia  ...  Chambers Rosewood Vineyards
109434    Australia  ...                   D'Arenberg
122421    Australia  ...                     Glaetzer
122430    Australia  ...                     Glaetzer
122507  New Zealand  ...             Squawking Magpie
122939    Australia  ...                     Torbreck

[49 rows x 13 columns]